@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="date"]::-webkit-datetime-edit {
  opacity: 0;
}

input[type="date"]:not([value=""]):not(:focus)::-webkit-datetime-edit {
  opacity: 1 !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none !important;
}




html,
body {
  overflow-x: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@layer components {
  .btn-bg_red {
    @apply bg-red-600 rounded-2xl text-white hover:text-black duration-300;
  }

  .btn-bor_red {
    @apply border-red-600 rounded-2xl text-red-600 hover:bg-red-600 hover:text-white duration-300;
  }
}


.ubuntu-light {
  font-family: "Ubuntu", serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", serif;
  font-weight: 700;
  font-style: italic;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: rgb(232, 229, 229);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(217, 213, 213);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(130, 130, 130);
}